@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

:root {
  --main-text-color: #1e1307; 
  --second-text-color: #ede0d0;
}

@layer base {
  body {
    font-family: 'Questrial', sans-serif;
    color: var(--main-text-color);
    color: var(--second-text-color);
  }
}